@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin-ext');
html, body, div, input {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
	background: transparent;
}
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
h1, h2, h3 {
	font-weight: 700;
}
#app {
	display: flex;
}
.hidden {
	display: none;
}
#leftPanel, #rightPanel {
	flex: none;
	width: 50vw;
	height: 100vh;
	padding: 0;
}
#rightPanel {
	padding-left: 5px;
	position: relative;
}
#log {
	position: absolute;
	top: 20px;
	right: 20px;
	background: rgba(255,255,255,0.6);
	padding: 10px;
}
#menu {
	position: absolute;
	top: 0;
	right: -40vw;
	background: rgba(255,255,255,0.95);
	padding: 10px;
	height: 100vh;
	width: 40vw;
	text-align: center;
	transition: right ease-in-out 200ms;
	z-index: 10;
}
#menu.open {
	right: 0;
}
#menuOffset {
	position: relative;
	transition: top ease-out 100ms;
}
#menu .item{
	line-height: 50px;
	font-size: 32px;
	transition: none ease-in-out 200ms;
	transition-property: font-size, line-height;
}
#menu .item.highlighted {
	font-size: 50px;
	line-height: 80px;
}
#menu .item.active {
	color: #cc0000;
}

#buttonHelp {
	font-size: 48px;
}

#buttonHelp > div {
	position: absolute;
}

#buttonHelp .leftButton {
	bottom: 80px;
	left: 10px;
}
#buttonHelp .rightButton {
	bottom: 5px;
	left: 210px;
}
#buttonHelp .upButton {
	bottom: 600px;
	right: 10px;
}
#buttonHelp .enterButton {
	bottom: 350px;
	right: 15px;
}
#buttonHelp .downButton {
	bottom: 100px;
	right: 10px;
}

.currentSlide{
	position: relative;
	width: 100%;
	height: 100vh;
}

.controlPanel {
	width: 100%;
	height: 100vh;
}
.controlPanel .slideBox {
	position: relative;
	overflow:hidden;
	height: 768px;
	width: 1024px;
	transform: scale(0.75);
	transform-origin: 50px 75px;
	box-shadow: 0 0 2px 1px rgba(0,0,0, 0.4);
}

/* -- Content styling -- */
.huge {font-size: 64px}
.large {font-size: 48px}
.normal {font-size: 32px}
.small {font-size: 24px}
.tiny {font-size: 18px}
.outline {
	color: #fff;
	text-shadow:
		 3px  3px black,
		 3px -3px black,
		-3px  3px black,
		-3px -3px black;
}

/* -- Content elements -- */
.lineCaption {
	font-weight: bold;
	border-bottom: 4px solid #fff;
	padding: 15px 20px;
	line-height: 120%;
}

.middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.center {text-align: center;}
.right {text-align: right;}

/* -- Slide styles -- */
.imageAside {
	display: flex;
	height: 100vh;
}
.imageAside .imageContainer {
	width: 350px;
	flex: 0 0 auto;
	overflow: hidden;
	background: #555 no-repeat center;
	background-size: cover;
}
.imageAside .content {
	flex: 1 0 auto;
	width: calc(50vw - 350px);
	overflow: hidden;
	position: relative;
}

.washedBgImage {
	height: 100vh;
}
.washedBgImage .imageContainer,
.washedBgImage .content{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100vh;
}
.washedBgImage .imageContainer {
	background: #555 no-repeat center;
	background-size: cover;
	filter: contrast(10%) brightness(180%) saturate(30%);
}
.washedBgImage .content {
	z-index: 2;
}